---
import { getBlogs } from '../libs/microcms';
const response = await getBlogs({fields: ['id', 'title'], limit: 3});
---
<section class="fixed w-full bg-white text-black left-0 bottom-0 post-list ">
<ul class="flex gap-4 md:gap-40 ">
{response.contents.map(news => (
  <li>
    <a class="text-sm" href={`news/${news.id}`}>{news.title}</a></li>
    )
)}
</ul>
</section>

<style>
  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
ul {
    animation: scroll 20s linear;
  }

.post-list {
  box-shadow: 0 0 10px rgba(50, 50, 93, 0.25);
}
</style>
