---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>
</head>
<body >
	<div class="container mx-auto">
    <header class= "grid grid-cols-1 md:grid-cols-[200px_1fr] p-4 md:p-8 items-center">
      <h1 class="text-xl mb-5 md:mb-0"><a href="/">Infinity Node</a>
			</h1>
      <ul class="flex">
        <li class="mr-12 text-[0.85em]"><a href="/profile">Profile</a></li>
        <li class="mr-12 text-[0.85em]"><a href="/price">Price</a></li>
        <li class="mr-12 text-[0.85em]"><a href="/contact">Contact</a></li>
				</li>
        <li class="active mr-12 text-[0.85em]"><a href="https://github.com/teramae-masahiro/" target="_blank">Git hub</a></li>
      </ul>
    </header>
	<slot />
</div>
<footer class="bg-white grid grid-cols-1 items-center">
	<small>©Infinity Node</small>
</footer>
</body>
</html>


<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
	:root {
		--green: #ecfaec;
		--dark-green: #166639;
		--white: #ffffff;
		--black: #000000;
	}

	body {
		background: var(--green);
		display: grid;
		/* background-image: url("../../public/favicon.svg"); */
		color: var(--black);
		font-family: "Roboto", sans-serif;
	}
	a {
  color: inherit;
}

h1 {
  color: var(--dark-green);
}
section {
  width: 100%;
  padding: 1em;
}

li.active {
  color: var(--dark-green);
  border-bottom: 1px solid var(--dark-green);
}
</style>
